In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2022-08-11 14:51:12,55.7435,-97.8558,62.76,59,20,8.05
1,1,Kavaratti,IN,2022-08-11 14:51:12,10.5669,72.6420,81.61,81,34,19.98
2,2,Rikitea,PF,2022-08-11 14:51:13,-23.1203,-134.9692,72.70,71,70,22.10
3,3,Mahebourg,MU,2022-08-11 14:51:13,-20.4081,57.7000,69.26,88,75,18.41
4,4,Punta Arenas,CL,2022-08-11 14:51:14,-53.1500,-70.9167,33.82,86,20,9.22

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [35]:
# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]
temps = []

for temp in max_temp:
    temps.append(max(temp, 0))

In [36]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [40]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kavaratti,IN,2022-08-11 14:51:12,10.5669,72.6420,81.61,81,34,19.98
6,6,Atuona,PF,2022-08-11 14:51:14,-9.8000,-139.0333,75.87,79,11,21.30
8,8,Maceio,BR,2022-08-11 14:48:10,-9.6658,-35.7353,81.84,74,75,6.91
9,9,Bengkulu,ID,2022-08-11 14:51:15,-3.8004,102.2655,77.58,89,22,3.60
10,10,Beaufort,MY,2022-08-11 14:51:16,5.3473,115.7455,77.54,90,53,2.86
13,13,Erenhot,CN,2022-08-11 14:51:17,43.6475,111.9767,76.98,37,97,16.40
17,17,Nikolskoye,RU,2022-08-11 14:51:19,59.7035,30.7861,77.88,49,100,9.48
22,22,Fare,PF,2022-08-11 14:51:21,-16.7000,-151.0167,77.36,75,3,10.94
25,25,Baoying,CN,2022-08-11 14:51:23,33.2292,119.3092,77.76,93,100,10.60
27,27,Victoria,HK,2022-08-11 14:47:23,22.2855,114.1577,81.32,90,97,7.00

In [41]:
preferred_cities_df.count()

City_ID       234
City          234
Country       232
Date          234
Lat           234
Lng           234
Max Temp      234
Humidity      234
Cloudiness    234
Wind Speed    234
dtype: int64

In [42]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1    Kavaratti      IN     81.61  10.5669   72.6420
6       Atuona      PF     75.87  -9.8000 -139.0333
8       Maceio      BR     81.84  -9.6658  -35.7353
9     Bengkulu      ID     77.58  -3.8004  102.2655
10    Beaufort      MY     77.54   5.3473  115.7455
13     Erenhot      CN     76.98  43.6475  111.9767
17  Nikolskoye      RU     77.88  59.7035   30.7861
22        Fare      PF     77.36 -16.7000 -151.0167
25     Baoying      CN     77.76  33.2292  119.3092
27    Victoria      HK     81.32  22.2855  114.1577

In [43]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [45]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kavaratti,IN,81.61,10.5669,72.6420,Green leaf
6,Atuona,PF,75.87,-9.8000,-139.0333,Villa Enata
8,Maceio,BR,81.84,-9.6658,-35.7353,Hotel Ponta Verde Maceió
9,Bengkulu,ID,77.58,-3.8004,102.2655,Grage Hotel Bengkulu
10,Beaufort,MY,77.54,5.3473,115.7455,The Gem Hotel Beaufort
13,Erenhot,CN,76.98,43.6475,111.9767,Erenhot Rurouni Youth Hostel
17,Nikolskoye,RU,77.88,59.7035,30.7861,Tourist House - Sablino
22,Fare,PF,77.36,-16.7000,-151.0167,Maitai Lapita Village Huahine
25,Baoying,CN,77.76,33.2292,119.3092,GreenTree Alliance Yangzhou Baoying Town Huaij...
27,Victoria,HK,81.32,22.2855,114.1577,Mini Central

In [47]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))